{{! Facebook }}
<a class="icon icon-facebook" href="http://facebook.com/" target="_blank">
	<i class="fa fa-facebook"></i>
</a>

{{! Twitter }}
<a class="icon icon-twitter" href="http://twitter.com/" target="_blank">
	<i class="fa fa-twitter"></i>
</a>

{{! Google Plus }}
<a class="icon icon-google-plus" href="http://plus.google.com/" target="_blank">
	<i class="fa fa-google-plus"></i>
</a>

{{! Instagram }}
<a class="icon icon-instagram" href="http://instagram.com/" target="_blank">
	<i class="fa fa-instagram"></i>
</a>

{{! Tumblr }}
<a class="icon icon-tumblr" href="http://tumblr.com/" target="_blank">
	<i class="fa fa-tumblr"></i>
</a>

{{! Pinterest }}
<a class="icon icon-pinterest" href="http://pinterest.com/" target="_blank">
	<i class="fa fa-pinterest"></i>
</a>

{{! RSS }}
<a class="icon icon-feed" href="{{@blog.url}}/rss/" target="_blank">
	<i class="fa fa-rss"></i>
</a>
